body {
    background-color: #F3EDE6;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  .h1-container {
    background-color: #EF6079;
    height: 2.5vw;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 1%;
    z-index: 2;
  }
  
  h1 {
    margin-top: .5%;
    height: 1.25vw;
    background-color: #651C32;
  }
  
  nav {
    background-color: #651C32;
    width: 20%;
    height: 100%;
    position: fixed;
    left: 80%;
    top: 0vw;
    column-gap: -10px;
    padding-top: 5%;
    z-index: 1;
  }
  
  .cart {
    height: 2.5vw;
    width: 5vw;
    background-color: #ef6079;
    margin-left: 68%;
  }
  
  .main-links {
    height: 2.5vw;
    width:70%;
    background-color:#ef6079;
    margin-left: 3vw;
    margin-top: 2vw;
  }
  
  .secondary-links {
    display: flex;
    width: 70%;
    height: 20%;
    align-items: center;
    flex-direction: column;
    margin-left: 3vw;
    margin-top: 8vw;
  }
  
  .secondary-links a {
    background-color:#ef6079;
    height: 8%;
    width: 50%;
    margin-top: 1vw
  }
  
  .circle-rotate {
    height: 100px;
    width: 100px;
    position: fixed;
    background-color: orange;
    left: 68%;
    opacity: 50%;
    top: 36vw;
  }
  
  .main-content {
    width: 79.5vw;
    height: 60vw;
    background-color: coral;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .left-image {
    width: 50%;
    height: 100%;
    background-color: #651c32;
  }
  
  .right-text {
    width: 47.4%;
    height: 98.4%;
    padding-left: 2vw;
    padding-top: 1vw;
  }
  
  p {
    height: 5%;
    width: 60%;
    background-color: #262929
  }
  
  
  .headline {
    height: 7%;
    width: 30%;
    background-color: #262929
  }
  
  .alt-button {
    height: 7%;
    width: 30%;
    background-color: #abcae9;
  }
  
  .main-button {
     background-color:#ef6079;
     height: 7%;
     width: 30%;
  }
  
  .nutrition {
    background-color: #651c32;
    height: 45%;
    width: 95%
  }
  
  .buzz-container {
    width: 79.5vw;
    height: 20vw;
    background-color: thistle;
    margin-left: -10px;
    display: flex;
    column-gap: 2vw;
    justify-content: space-around;
  }
  
  .buzzwords {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .buzz-img {
    background-color: #651c32;
    height: 45%;
    width: 95%
  }
  
  .popout-container{
    width: 79.5vw;
    height: 20vw;
    background-color: coral;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popout {
    height: 20vw;
    width: 35vw;
    background-color: #abcae9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pop-text {
    height: 60%;
  }
  
  .user-reviews {
    width: 71.5vw;
    height: 40vw;
    background-color: thistle;
    display: flex;
    justify-content: center;
    margin-left: -10px;
    padding: 4vw;
    flex-wrap: wrap;
    gap: 2vw 2vw;
    
  }
  
  .review-container {
    padding: 2vw;
    height: 25%;
    border-style: solid;
    border-width: medium;
    flex-basis: 40%;
  }
  
  .user-reviews .headline {
    width: 60%
  }
  
  .stars {
    background-color: yellow;
  }
  
  
  .gallery-nav {
    width: 40%;
    height: 5%;
    background-color: white;
  }
  
  .insta {
    background-color: coral;
    width: 79.5vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
  }
  
  .insta-gallery {
    display: flex;
    height: 60%;
    width: 120%;
    column-gap: 1vw;
    justify-content: center;
  }
  
  .insta-img {
    background-color: #651c32;
    height: 100%;
    width: 40%;
  }
  
  .insta .heading {
    height: 10%;
    width: 60%;
    margin-top: 4vw;
    margin-left: 16vw;
    background-color: #262929;
  }
  
  footer {
    background-color: #3e4938;
    width: 71.5vw;
    height: 15vw;
    padding: 4vw;
    margin-left: -10px;
    margin-top: -.5vw;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
  }
  
  .email {
      height: 70%;
      width: 40%;
    }
  
  .email p { 
      background-color: #abcae9;
    height: 20%;
    width: 20%;
    margin: 1vw;
  }
  
  .entry { 
      background-color: #abcae9;
    height: 20%;
    width: 20%;
    margin: 1vw;
  }
  
  .left-column {
    display: flex;
    width: 20%;
    height: 90%;
    flex-direction: column;
    
  }
  
  .left-column a {
    height: 20%;
    width: 20%;
    background-color: #abcae9;
    margin: 1vw;
  }
  
  .right-column {
    display: flex;
    width: 20%;
    height: 90%;
    flex-direction: column;
    
  }
  
  .right-column a {
    height: 20%;
    width: 20%;
    background-color: #abcae9;
    margin: 1vw;
  }
  
  
  
  
  
  @media (max-width: 1024px) {
    nav {
      display: none
    }
    
    .circle-rotate {
      left: 78%;
      top: 76%
    }
    
    .main-content {
      width: 100%;
      padding-right: 2vw;
      justify-content: center;
      height: 100vw
    }
    
    .left-image {
      width: 80%;
      height: 30%
    }
    
    .right-text {
      height: 60%;
      margin-top: -4vw
    }
    
    .buzz-container {
      width: 100%;
      padding-left: 1vw;
      padding-right: 1vw;
      height: 90vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    
    .buzzwords {
      width: 80%;
      height: 30%
    }
    
    .popout-container {
      width: 100%;
      padding-left: 1vw;
      padding-right: 1vw
    }
    
    .user-reviews {
      width: 100%;
      padding-left: 1vw;
      padding-right: 1vw;
      height: 90vw
    }
    
    .review-container {
      flex-basis: 100%;
      height: 10%
    }
    
    .insta {
      width: 100%;
      padding-left: 1vw;
      padding-right: 1vw
    }
    
    footer {
      width: 100%;
      padding-left: 1vw;
      padding-right: 1vw;
      margin-top: -2.5vw;
    }
  }
  
  
  
  
  
  @media (max-width: 518px) {
    nav {
      display: none
    }
    
    .circle-rotate {
      left: 78%;
      top: 76%
    }
    
    .main-content {
      height: 120vw;
      width: 100vw
    }
    
    .left-image{
      width: 100%
    }
    .right-text {
      width: 100%;
      height: 100vw;
      padding-top: 4vw;
    }
    
    .alt-button {
      display: none;
    }
    
    .nutrition {
      width: 100%;
      margin-left: -10px
    }
    
    .buzz-container {
      width: 100vw;
      overflow: hidden;
      height: 45vw
    }
    
    .buzzwords {
      height: 100%
    }
    
    .popout-container {
      width: 95vw;
      margin-left: -8px
      
    }
    
    .popout {
      width: 80%;
    }
    
    .user-reviews {
      width: 82vw;
      padding-left: 8vw;
      padding-right: 8vw;
      height: 150vw
    }
    
    .review-container {
      width: 20%;
      height: 15%;
    }
    
    .insta {
      width: 100vw;
      overflow: hidden;
      height: 70vw
    }
    
    .insta-gallery {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 14vw;
      
    }
    
    .insta-img {
      width: 40%;
  
    }
    
    footer {
      width: 100vw;
      height: 40vw
    }
    
    .email {
      width: 100%;
      height: 20vw;
    }
    
    .right-column {
      margin-top: -4vw;
    }
    
    .right-column a {
    height: 5%;
  }
    
    .left-column {
      margin-top: -4vw;
    }
    
     .left-column a {
    height: 5%;
  }
    
    

  }